@import "_index.scss";
@import "_productos.scss";
@import "_tabladetalles.scss";
@import "_contacto.scss";
@import "_comocomprar.scss";

$dorado:#C4A178;
$rosa-oscuro:#EDBBB4;
$rosa-claro:#FEF5F0;
$gris:#878181;
$titulo-h2:30px;
$fuente-titulo:'Parisienne', cursive;
$fuente-parrafo:'Open Sans', sans-serif;

